@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

* {
    margin: 0;
    background-color: #F0F0F0;
    font-family: 'Inter', 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.title {
    text-align: center;
    letter-spacing: 3.5px;
    margin-bottom: 30px;
}

.subtext {
    color: rgb(86, 86, 86);
    text-align: center;
    margin-bottom: 40px;
    line-height: 26px;
}

.btn1 {
    font-size: 13px;
    padding: 8px 20px;
    border-radius: 12px;
    background-color: #f4f4f4; 
    cursor: pointer;
    font-weight: 600;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.btn2 {
    font-size: 13px;
    padding: 8px 20px;
    border-radius: 12px;
    background-color: #fff; 
    cursor: pointer;
    font-weight: 600;
    border: 0;
    outline: 1px solid rgba(0,0,0,0.1);
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}

.header .heading {
    font-size: 20px;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.body h2 {
    font-size: 30px;
}

.random-info h3 {
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 24px;
}

.body {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.random-info .container2 {
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.random-info .container2 p {
    text-align: center;
}

.photographer,
.photographer a {
    font-size: 11px;
}

.quote {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f4f4f4;
    line-height: 40px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

img {
    width: 230px;
    height: auto;
}

.container3 {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up {
    height: 98px;
    width: 400px;
    border-radius: 20px;
    border-width: 0;
    background-color: rgb(242, 242, 242);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 65px;
    font-size: 14px;
}

.sign-up p,
.quote p,
strong {
    background: none;
}

footer p {
    background: none;
}

footer {
    background-color: rgb(221, 221, 221);
    display: flex;
    justify-content: center;
    font-size: 13px;
    padding: 30px 0 20px 0;
}